// gulp-sass-glob
// 変数を管理する
@import "./setting/*.scss";
// ベースレイアウトを管理
@import "./base/**/*.scss";
// 全ページ共通のコンポーネントの管理
@import "./layout/**/*.scss";
// 各コンポーネントを管理
@import "./components/**/*.scss";
// テーマの管理
@import "./theme/*.scss";
// @keyframesや@mixinを管理
@import "./tool/**/*.scss";

// Sass
// sass scss
h1 {
	color: #a56;
	font-size: 10px;
	background: #333;
	transition: all .3s;
	-webkit-transition: all .3s;
	background-color: #444;

	&:hover {
		// transform: translateX(50px);
		color: #555;
	}
}
